.form {
 display: flex; 
 flex-direction: column;
 gap: 1rem;  
}

.header{
    text-align: center;
    margin-bottom: 1rem;
}


.header h1{
  margin-bottom: 0.5rem;
  color:rgb(4, 5, 27)
     
}

.header p{
    color: #080a0f;
    font-size: 0.9rem;
}

.field {
   display: flex;
   flex-direction: column; 
   gap: 0.4rem;
}

.field label{
  font-weight: 600;
  color: rgb(5, 7, 7);
}

.field input{
 padding: 0.8rem;
 border: 1px solid #d1d5db;
 border-radius: 8px;
 outline: none;
 transition: 0.04s;
}

.field input:focus{
    border-color: #2563eb;
}
.button{
 margin-top: 0.5rem;
 padding: 0.9rem;
 border:none;
 border-radius: 8px;
 background: #b55270;
 color: #fafafa;
 font-weight: bold;
 cursor: pointer;
 transition: 0.2s;
}

.button:hover{
  background: #9d4761; 
}

.footer{
 text-align: center;
 color:black;
 cursor: pointer;
 font-size: 0.9rem;
}

.links{
    display: flex;
   justify-content: space-between;
   align-items: center;
    margin-top: 0.5rem;
}

.link{
    text-decoration: none; 
}

.link span{
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.2s ease;
}
 
.link:hover span{
    text-decoration: underline;
}
